<div style="margin-top:80px">
<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" >
  <div class="row">
    <div class="col-lg-3 col-md-6">
      
      <input type="text" class="form-control my-2" formControlName="categoryName" placeholder="Enter category name" />
      <div class="error" *ngIf="categoryForm.get('CategoryName')?.touched && categoryForm.get('categoryName')?.invalid">
        Category Name is required
      </div>
    </div>

    <div class="col-lg-3 col-md-6">      
      <input type="number" class="form-control my-2" formControlName="parentCategoryId" placeholder="Parent Category ID"/>
    </div>

    <div class="col-lg-3 col-md-6">      
      <input type="number" class="form-control my-2" formControlName="userId" placeholder="User ID"/>
    </div>
    <div class="col-lg-3 col-md-6 my-2" >
    <button class="form-control btn-info" type="submit">
      {{ isEditing ? 'Update Category' : 'Add Category' }}
    </button>
    </div>
    </div>
</form>
</div>
<div class="category-management-container"> 
  <!-- Category Form -->
    <!-- Category Table -->
  <table class="category-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Category Name</th>
        <th>Parent Category ID</th>
        <th>User ID</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categoryList">
        <td>{{ category.categoryId }}</td>
        <td>{{ category.categoryName }}</td>
        <td>{{ category.parentCategoryId }}</td>
        <td>{{ category.userId }}</td>
        <td>
          <button (click)="onEdit(category)" class="btn button-primary"><i class="bi bi-cart"></i></button>
          <button (click)="onDelete(category.categoryId)" class="btn button-primary"><i class="bi bi-x"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
