<div class="container">
  <h3 class="my-4 text-center">Dashboard</h3>
  <div class="row text-center mb-4">
    <div class="col-md-3">
      <div class="card shadow-sm p-3 ">
        <h5>Total Orders</h5>
        <h3>1,250</h3>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-sm p-3">
        <h5>Revenue</h5>
        <h3>₹4.5L</h3>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-sm p-3">
        <h5>New Users</h5>
        <h3>320</h3>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card shadow-sm p-3">
        <h5>Pending Orders</h5>
        <h3>48</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Line Chart: Monthly Revenue -->
    <!-- <div class="col-md-8 mb-4">
      <div class="card p-3 shadow-sm">
        <h5 class="mb-3">Monthly Revenue</h5>
        <canvas baseChart
                [data]="revenueChartData"
                [options]="chartOptions"
                [type]="'line'">
        </canvas>
      </div>
    </div> -->

    <!-- Pie Chart: Category Distribution -->
    <!-- <div class="col-md-4 mb-4">
      <div class="card p-3 shadow-sm">
        <h5 class="mb-3">Product Categories</h5>
        <canvas baseChart
                [data]="categoryChartData"
                [type]="'pie'">
        </canvas>
      </div>
    </div> -->
  </div>
</div>
