
input:focus{
    outline: none;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

.form-group{
height:2.5rem;
max-height: 2.5rem;
margin-bottom:2rem;
}

::placeholder { 
    color: rgb(115, 113, 113);
    opacity: 1; 
    font-weight: lighter;
    font-size: medium;
  }

.error{
    color:orange;
    font-size: .8rem; 
    padding-top:.3rem;   
}

a{
    cursor:pointer;
    text-decoration: underline;    
}
