<!-- <div class="row setimage" style="background-image: url('assets/images/credit-card.jpg');"> -->
    <div class="row set-background">

    <div class="col-lg-8"></div>
    
    <div class="col-lg-4">
        <form class="login-container text-primary" [formGroup] ="registerForm" (ngSubmit)="onSubmit()">
    
        <div class="text-center text-primary">
            <p class="fs-3 pb-2 "> Register
            <a [routerLink]="['/customer/home']" routerLinkActive="router-link-active">
                <span class="bi bi-x mx-2" style="float:right"></span></a>
            </p>
        </div>
                <div class="form-group">

                    <input  type="text" formControlName="first_name" class="form-control mt-2" pattern="[a-zA-Z ]*" placeholder="First Name" 
                    required>
                    
                    <div *ngIf="first_name?.invalid && (first_name?.dirty || first_name?.touched)" class="error">
                    
                        <div *ngIf="first_name?.errors">
                          valid First name required.
                        </div>  
                           
                    </div>
                </div>
                
                <div class="form-group">

                    <input  type="text" formControlName="last_name" class="form-control" 
                        pattern="[a-zA-Z ]*" placeholder="Last Name"  required>
                    <div *ngIf="last_name?.invalid && (last_name?.dirty || last_name?.touched)" class="error">
                    
                        <div *ngIf="last_name?.errors">
                        Valid Last name required.
                        </div>    
                    </div>
                </div>

                <div class="form-group">

                    <input  type="email" formControlName="email" class="form-control" placeholder="Email" 
                         email="true" required>
                    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error">
                    
                        <div *ngIf="email?.errors">
                        Valid Email ID required.
                        </div>
    
                    </div>
                </div>        
                
                      
                <div class="form-group">
                    <input type="password" formControlName="password" class="form-control" placeholder="Password" 
                            required maxlength="10" minlength="3">
                    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error">
                      <div *ngIf="password?.errors">
                        Password is required.
                      </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" formControlName="mobnumber" class="form-control" pattern="[0-9 ]*" placeholder="MobileNumber" required maxlength="10" minlength="10">
                    <div *ngIf="mobnumber?.invalid && (mobnumber?.dirty || mobnumber?.touched)" class="error">                       
                        
                        <div *ngIf="mobnumber?.errors">
                            Valid Mobile number is required.
                      </div>         
                      
                    </div>
                </div>
            
                <div class="form-group text-center">
                <button type="submit" [disabled]="!registerForm.valid" class="btn button-primary px-5">Submit</button>
                <button  class="btn button-primary px-5" (click)="onCancel()">Cancel</button>

                <h6 style="text-align: center;color:orange;">{{registerError}}</h6>
                <h6><a *ngIf="registerError!=''" (click)="onTry()">Try Again</a></h6>
            </div>
                
                              
                <div>             
               <h6 class="text-center text-white mt-2">Already have an account?
                   <a [routerLink]="['/login']" routerLinkActive="router-link-active"><span class="text-primary ">Login</span></a> 
               </h6>
            </div>  
    
        </form>
    </div>    
    
    </div>
    

