<div class="chatbot-wrapper" [class.open]="isOpen">
  
  <button [ngClass]="{'chat-toggle':isOpen,'chat-not-toggle': !isOpen}" (click)="toggleChat()">
    <img  src="assets/images/robot-assistant.png" height="50" width="50">
  </button>

 @if(isOpen){
  <div class="chat-window">
    <div class="chat-header">
      SmartCart Assistant
      <button class="btn btn-sm text-primary fs-5"(click)="toggleChat()">✖</button>
    </div>

<div class="chat-body">
  <div *ngFor="let msg of messages" [ngClass]="msg.type">
    {{ msg.text }}
  </div>

  <div class="quick-buttons">
    <button class="quick-btn" (click)="onQuickClick('Special Offers')">Special offers</button>
    <button class="quick-btn" (click)="onQuickClick('Return Policy')">Return Policy</button>
    <button class="quick-btn" (click)="onQuickClick('Shipping Charges')">Shipping charges</button>
  </div>
  <!-- <div class="quick-replies"> -->
      <!-- <button (click)="handleQuickReply('my cart')">🛒 My Cart</button>
      <button (click)="handleQuickReply('my orders')">📦 My Orders</button> -->

      <!-- <button (click)="handleQuickReply('categories')">📂 Categories</button> -->
    <!-- </div> -->
  <div *ngIf="loading" class="bot">Typing...</div>
</div>

    <div class="chat-footer">
      <input [(ngModel)]="userMessage" (keyup.enter)="sendMessage()" placeholder="Ask me something..." />
      <button (click)="sendMessage()">➤</button>
    </div>
  </div>
}
</div>


