.chatbot-wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;  
}

.chat-not-toggle {
  position :relative;
  background-color:goldenrod; 
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  font-size: 24px;
  cursor: pointer;  
}
.chat-toggle {
  background-color:goldenrod; 
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 24px;
  cursor: pointer;  
  position: absolute;
  top: 5px;
  right: 230px;
}

.chat-window {
  width: 300px;
  max-width:300px;
  height: 400px;
  font-weight:400;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;  
}

.chat-header {
  background: #3a3d3fff;
  color: white;
  padding: 15px;
  font-weight: bold;
 text-align:end;
}

.chat-body {  
  font-size:.8rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  overflow-y:auto;
}

.chat-body .bot {
  align-self: flex-start;
  background: #f1f1f1;
  color: #333;
  padding: 8px 12px;
  border-radius: 12px;
  max-width: 70%;
}

/* User messages (right aligned) */
.chat-body .user {
  align-self: flex-end;
  background: #58638dff;
  color: #fff;
  padding: 8px 12px;
  border-radius: 12px;
  max-width: 70%;
  text-align: right;
}
.chat-footer {
  display: flex;
  padding: 8px;
  border-top: 1px solid #ddd;
}

.chat-footer input {
  flex: 1;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.chat-footer button {
  background: #373a3dff;
  border: none;
  color: white;
  margin-left: 6px;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}
.quick-replies {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

.quick-replies button {
  background: #5e7690ff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 8px;
  cursor: pointer;
  font-size:.7rem;  
}

.quick-replies button:hover {
  background: #6282a3ff;
}
::placeholder { 
    color: rgb(115, 113, 113);
    opacity: 1; 
    font-weight: lighter;
    font-size:small;
  }