.dropdown-full-width {
  width: 100% !important;
  max-height: 400px; /* Adjust height as needed */
  overflow-y: auto;
}
.row{
  width:auto !important
}
.start-100 {
    left: 80% !important;
}
.top-0 {
    top: .5rem !important;
}
.card {
  border-radius: 10px;
}

.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
p{ 
    margin-bottom: .5rem;
}