.dropdown-full-width {
  width: 100% !important;
  max-height: 400px;
  overflow-y: auto;
}
.card {
  border-radius: 10px;
}

.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
p{ 
  margin-bottom: .5rem;
}
.modal-header{
  padding:1rem;
}
.modal-body div{
  margin-bottom:.5rem;
}
.modal-footer{
  padding:.5rem;
}

label{
  font-size:.9rem;
  font-weight:bold; 
}
.form-control{
  font-size:.8rem;
}
.form-select{
  font-size:.8rem;
}
