
<app-header></app-header>
<!-- <app-overview><app-overview> -->
@if(showIntro){
 <div class="row">
    <div class="col-lg-2"></div>

   <div class="col-lg-10 feature-container mt-4">
   <h2 class="mt-5 text-primary"> Angular 17 : Smart-Cart Highlights </h2>
   <hr>

  <div *ngFor="let feature of visibleFeatures" class="fade-in feature-line">
    <span class="fw-bold">{{ feature.heading }}</span> <span class="fw-lighter set-data"> {{feature.data }}</span>
  </div>

  @if(currentIndex === features.length){
  <button 
          class="btn bgcolor-primary text-white mt-2 px-4"
          (click)="startDemo()">
          Start <i class="bi bi-caret-right-fill"></i>
  </button>
}
 </div> 
</div>
}
@if(!showIntro){
<div [ngClass]="isAdminRoute ? 'admin-main-content' : 'main-content'">
    <router-outlet></router-outlet>
</div>
}

<app-footer></app-footer>
