.set-avatar{
  height:45px;
  width:45px;
  border-radius:50%;
  border:1px solid white;
}
.card {
  border-radius: 1rem;
  transition: transform 0.2s ease-in-out;
 
  margin:.5rem
}
.card:hover {
  transform: scale(1.02);
}
h3{
  color:goldenrod
}
.container-fluid{
  min-height:700px;  
}

#wrapper {
  display: flex;
  width: 100%;
   margin-top:60px;
    overflow: hidden;
}

#sidebar-wrapper {
  min-width: 250px;
  max-width: 250px;
  min-height: 600px;  
  background: #52565bff;
  padding:0 1rem;
  color: #fff;  
  transition: all 0.3s ease-in-out;
}

#sidebar-wrapper .sidebar-heading {
  font-size: 1.2rem;   
  margin: 2rem 0;
  color: #fff;
  border-right: 1px solid #52565bff;
}

#sidebar-wrapper .list-group-item {
  background: #52565bff;
  color: #fff;
  border:none;
  cursor: pointer;
  border-bottom: 1px solid darkolivegreen;
  padding:.5rem;
  padding-right:1rem;
}

#sidebar-wrapper .list-group-item:hover {
  background: #495057;
}

#sidebar-wrapper.toggled {
  margin-left: -250px;
  
}

#page-content-wrapper {
  /* width: 100%;  */
  flex-grow: 1;
  overflow: hidden;
}


.content-scroll {
  height: calc(100vh - 56px); 
  overflow-y: auto;           
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}
.breadcrumb {
  background: transparent;
  font-size: 0.95rem;
  margin-bottom: 1rem;
}
.content-blur {
  filter: blur(10px);
  pointer-events: none;   /* prevents clicking on blurred content */
  transition: filter 0.3s ease-in-out;
}
.shifted {
  margin-left: 60px; /* collapsed width */
  transition: margin-left 0.3s ease-in-out;
}