<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper" [class.toggled]="isSidebarCollapsed">
      <div class="sidebar-heading text-center py-2 bgcolor-primary">
       
    <a class="navbar-brand text-white fs-2 bgcolor-primary" routerLink="/home">
      <span>Smar<img src="/assets/images/cart3.png"class="set-logo"> </span></a>
  
  </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" routerLink="overview">📊 Dashboard</li>
      <li class="list-group-item" routerLink="orders">🛒 Orders</li>
      <li class="list-group-item" routerLink="products">📦 Products</li>
      <li class="list-group-item" routerLink="categories">📦 Categories</li>
      <li class="list-group-item" routerLink="users">👥 Users</li> 
      <li class="list-group-item" routerLink="reports">📑 Reports</li>
      <li class="list-group-item" routerLink="settings">⚙️ Settings</li>
    </ul>
  </div>

  <!-- Page Content -->
  <div id="page-content-wrapper" class="flex-grow-1">
    <!-- Top Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light border-bottom bgcolor-primary">
      <button class="btn btn-sm" (click)="toggleSidebar()">
        <i class="bi fs-3" [ngClass]="isSidebarCollapsed ? 'bi-list' : 'bi-x'"></i>
      </button>
      <span class="ms-3 fw-bold">Admin Dashboard</span>
      <div class="dropdown mx-2">
      <a class="nav-link dropdown-toggle text-white " role="button" data-bs-toggle="dropdown">
        <i class="bi bi-person-circle fs-4"></i>
      </a>        
       <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" (click)="logout()" routerLink = "/customer/home">Log Out</a></li>      
      </ul>
    </div>
    </nav>

    <div class="container-fluid mt-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>






