<div class="row">
    
    <!-- <app-banner class="p-0"></app-banner> -->

        @defer (on viewport) {
        <app-banner class="p-0"></app-banner>
        } @placeholder {
        <p class="display-6 text-center mt-5">Loading ...</p>
        } @loading {
        <p class="display-6 text-center mt-5">Fetching latest deals...</p>
        } @error {
        <p>Something went wrong while loading products.</p>
        }

</div>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <router-outlet></router-outlet>
    </div>
    <div class="col-lg-1"></div>
</div>