/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Poppins', sans-serif !important;
  font-weight:lighter !important;
}
.row{
    padding: 0 !important;
    margin : 0 !important;
}

a{
    text-decoration: none !important;
    color:inherit !important;
}
.bgcolor-primary{
    background-color: goldenrod !important;
}

.bgcolor-secondary{
    background-color: rgb(48,48,48) !important;
}

.border-primary{
    border: 1px solid goldenrod !important;
}
.border-secondary{
    border: 1px solid rgb(117, 131, 140) !important;
}

.text-primary{
color: goldenrod !important;

}
.text-secondary{
    color:rgb(59, 82, 98) !important;
}
.text-white{
    color:white !important;
}

.button-primary{
    background-color: goldenrod !important;
    color: white !important;

    font-size: small !important;
    margin: .5rem!important;
}
.button-secondary{
    background-color: white !important;
    color:rgb(48,48,48)!important;
}
.set-logo{
    height:50px !important;
    width:45px !important; 
}
.dropdown-menu{
    font-size:.9rem!important;
    padding:.2rem!important;
}