.payment-methods img {
  height: 32px;
  transition: transform 0.2s;
}
.payment-methods img:hover {
  transform: scale(1.1);
}

/* .footer-social i {
  transition: transform 0.2s;
}
.footer-social i:hover {
  transform: scale(1.2);
} */
footer i {
  transition: transform 0.2s;
}
footer i:hover {
  transform: scale(1.1);
}
