<footer class="bgcolor-secondary text-light pt-5 pb-3">
  <div>
    <div class="row gy-4">

      <!-- Column 1: Logo & Contact -->
      <div class="col-md-3">
        <p class="set-name">Smar<img src="/assets/images/logo.png" class="set-logo"> </p>
        <p>
          <i class="bi bi-house-fill fs-5"></i><span>123 Market Street, Pune, India</span><br>
          <i class="bi bi-phone fs-5"></i><span> +91 98765 43210</span><br>
          <i class="bi bi-envelope fs-5"></i> <span>support&#64;smartCart.com </span><br>
          <i class="bi bi-globe fs-5"></i>
          <a href="https://indiaSmartCart.com" class="text-decoration-none text-light"><span>www.indiaSmartCart.com</span></a><br>
          <i class="bi bi-clock fs-5"></i><span>All Days : 9:00 AM to 10:00 PM</span>
        </p>
        
        <div class="payment-methods">
            <img src="https://img.icons8.com/color/48/000000/visa.png" alt="Visa" class="mx-2" />
            <img src="https://img.icons8.com/color/48/000000/mastercard.png" alt="MasterCard" class="mx-2" />
            <img src="https://img.icons8.com/color/48/000000/paypal.png" alt="PayPal" class="mx-2" />
            <img src="https://img.icons8.com/color/48/000000/amex.png" alt="Amex" class="mx-2" />
            <img src="https://img.icons8.com/color/48/000000/upi.png" alt="UPI" class="mx-2" />
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/4b/RuPay.svg" alt="RuPay" width="48" height="32" class="mx-2" />
        </div>
      </div>

      <!-- Column 2: Policies & Services -->
      <div class="col-md-3">
        <h5 class="mb-3 border-bottom w-80">Useful Links</h5>
        <ul class="list-unstyled fw-lighter">
          <li><a routerLink="/privacy-policy"><span>Privacy Policy</span></a></li>
          <li><a routerLink="/terms"><span>Terms & Conditions</span></a></li>
          <li><a routerLink="/return-policy" ><span>Return Policy</span></a></li>
          <li><a routerLink="/faq" ><span>FAQs</span></a></li>
          <li><a routerLink="/shipping"><span>Shipping & Delivery</span></a></li>
          <li><a routerLink="/customer-support"><span>Customer Support</span></a></li>
        </ul>
      </div>

      <!-- Column 3: Social Media & Newsletter -->
      <div class="col-md-3">
        <h5 class="mb-3 border-bottom w-80">Connect with Us</h5>
        <div class="mb-2">
          <a href="#" class="text-light me-3"><i class="bi bi-facebook fs-5"></i></a>
          <a href="#" class="text-light me-3"><i class="bi bi-instagram fs-5"></i></a>
          <a href="#" class="text-light me-3"><i class="bi bi-twitter fs-5"></i></a>
          <a href="#" class="text-light me-3"><i class="bi bi-youtube fs-5"></i></a>
          <a href="#" class="text-light"><i class="bi bi-linkedin fs-5"></i></a>
        </div>
       
      
    
        <p class="mt-3">Subscribe to our newsletter:</p>
        <div class="input-group">
          <input type="email" class="form-control" placeholder="Enter your email">
          <button class="btn bgcolor-secondary text-white border-secondary fs-6" >Subscribe</button>
        </div>
      </div>
      <div class="col-md-3">
        <app-store-map></app-store-map>
       <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d48020.14322827047!2d73.8170080036195!3d18.603349875414942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1758019592678!5m2!1sen!2sin" width="600" height="450" style="border:0;" 
                   allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->

      </div>
    </div>   
    <hr class="border-secondary my-4">    

    <!-- Bottom Note -->
    <div class="text-center mt-3">
      <small>&copy; 2025 Smart Cart. All Rights Reserved.</small>
    </div>
  </div>
</footer>

