.payment-methods img {
  height: 32px;
  transition: transform 0.2s;
}
.payment-methods img:hover {
  transform: scale(1.1);
}

/* .footer-social i {
  transition: transform 0.2s;
}
.footer-social i:hover {
  transform: scale(1.2);
} */
.footer i {
  transition: transform 0.2s;
}
.footer i:hover {
  transform: scale(1.1);
}

.bi{
  margin-right: .8rem;
}
p{
  font-size: .9rem;
  
}
a{
  font-size: .9rem;
  color:rgb(226, 224, 224)
}
span{
  color:rgb(226, 224, 224)
}
.set-name{
  font-size: 1.8rem;
  width:fit-content;
  padding: .2rem 2rem;
  background-color: goldenrod;
  border-radius: .5rem;
}